.about{
    &__landing{
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow:hidden;
         width: 100%;
         height: 450px;
         background-position: center;
         background-size: cover;
        @media screen and (max-width: $screen-md-max){
             height: 190px;
        }
    }
    &__story{
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 150px 15px;
        h1{
            margin-bottom: 30px;
        }
    }
    &__slider{
        &--wrap{
            height: 100vh;
            width: 100%;
            text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow:hidden;
            .about-copy{
                max-width: 850px;
                width: 100%;
                position: absolute;
                top: 50%;
                transform: translate(-50%,-50%);
                left: 50%;
                h1{
                    color: $white;
                    margin-bottom: 30px;
                }
                p{
                    color: $white;
                }
                @media screen and (max-width: $screen-md-max){
                     max-width: 650px;
                }
                @media screen and (max-width: $screen-sm-max){
                    max-width: 350px;
                }
            }
            .overlay{
                height: 100%;
                width: 100%;
                position: absolute;
                background: rgba(0,0,0,0.3);
                top: 0;
                left: 0;
            }
        }
    }
    @media screen and (max-width: $screen-md-max){
       &__story{
            padding: 100px 15px;
        }
    }
    @media screen and (max-width: $screen-sm-max){
       &__story{
            padding: 50px 15px;
        }
    }
}
