.contact{
    &__landing{
        text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow:hidden;
             width: 100%;
             height: 450px;
             background-position: center center;
             background-size: cover;
             @media screen and (max-width: $screen-md-max){
                 height: 190px;
            }
    }
    &__body {
        padding: 150px 15px;
        @media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
           padding: 50px 15px;
        }
        &--title{
            text-align: center;
            max-width: 1200px;
            margin: 0 auto;
            width: 100%;
            margin-bottom: 100px;
        }

        &--form{
            border: solid 2px $darkblue;
            padding: 25px;
            text-align: center;
            .nf-form-cont{
                .nf-form-wrap{
                    .ninja-forms-req-symbol{
                        //display: none !important;
                    }
                    .nf-field-label{
                        display: none !important;
                    }
                    .nf-field-element {
                        //margin-bottom: 10px !important;
                    }

                }
                /*.nf-form-title{
                    margin-bottom: 50px;
                    h3{
                        font-weight: 800;
                    }
                }*/
                .submit-container .nf-field-element button{
                    width: 200px;
                    border-radius: 0px;
                    color: $white;
                    background-color: $darkblue !important;
                    border-color: $darkblue !important;
                    transition: all 0.5s;
                    -webkit-transition: all 0.5s;
                    &:hover{
                        background-color: $lightblue !important;
                        border-color: $lightblue !important;
                    }
                }
            }
            @media screen and (max-width: $screen-md-max){
                margin-bottom: 30px;
                .form-group, .nf-form-cont .nf-field-container {
                       // margin-bottom: 0px;
                    }
            }
        }
         &--info {
             .card {
                border: solid 2px $darkblue;
                .card-body {
                    padding: 50px;
                    .title {
                        text-align:center;
                        margin-bottom: 30px;
                    }
                    .address_wrapper {
                        span {
                            font-weight: 600;

                        }
                    }
                }

                p {
                    margin-bottom: 15px;
                    a{
                        text-decoration: none;
                        color: $black;
                    }
                }
                .facebook {
                    background-color: #1B1936;
                    padding: 25px;
                    text-align: center;
                    a {
                        color: $white;
                    }
                }
            }
        }
        @media screen and (max-width: $screen-md-max){
             padding: 70px 15px;
              &--title{
                margin-bottom: 30px;
              }
        }
    }
}
