.enquiry{
	text-align: center;
	padding: 150px 15px;

	.nf-form-cont{
		.nf-field-label{
			display: none !important ;
		}
		.nf-form-wrap{
			.ninja-forms-req-symbol{
				display: none !important;
			}
		}
		.nf-form-title{
			margin-bottom: 50px;
			h3{
				font-weight: 800;
				font-size: 2.5rem !important;
				display: none;
			}
		}

		.submit-container .nf-field-element button{
			width: 200px;
			border-radius: 0px;
			color: $white;
			background-color: $darkblue !important;
			border-color: $darkblue !important;
			transition: all 0.5s;
            -webkit-transition: all 0.5s;
			&:hover{
				background-color: $lightblue !important;
				border-color: $lightblue !important;
			}
		}
	}
	@media screen and (max-width: $screen-md-max){
           padding: 100px 15px;
           .nf-form-cont{
           		.nf-form-title{
					margin-bottom: 20px;
				}
           }
    }
    @media screen and (max-width: $screen-md-max){
           padding: 50px 15px;
    }
}