.faq{
	&__landing{
        text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow:hidden;
         width: 100%;
         height: 450px;
         background-position: center;
         background-size: cover;
        @media screen and (max-width: $screen-md-max){
             height: 190px;
        }
    }
    &__top{
    	padding: 150px 15px;
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
		@media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
             padding: 50px 15px 40px;
        }
    }
    &__body{
    	background-color:rgba(0,0,0,0.1);
        padding: 150px 15px;
        p{
        	margin-bottom: 30px;
        }
        @media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
             padding: 50px 15px 40px;
        }
    }
}