.interior{
    &__landing{
        text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow:hidden;
             width: 100%;
             height: 450px;
             background-position: center center;
             background-size: cover;
             @media screen and (max-width: $screen-md-max){
             height: 190px;
        }
    }
    &__title{
        text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 150px 15px;
        h1{
            margin-bottom: 30px;
        }
    }
    &__body{
        background-color:rgba(0,0,0,0.1);
        padding: 150px 15px;
        &--copy{
            //max-width: 650px;
            width: 100%;
            margin: 0 auto;
            .intro{
                margin-bottom: 30px;
                p{
                    margin-bottom: 15px;
                }
            }
            .intro-bottom{
                p{
                    margin-bottom: 15px;
                }
            }

        }
        &--slider{
            .interior-title{
                margin-bottom: 30px;
                    h3{
                    margin-left: 32px;
               }
            }
            .interior-slider{
                max-width: 600px;
                margin: 0 auto;
                width: 100%;
            }
            margin-bottom: 50px;
        }
        &--video{
                max-width: 600px;
                width: 100%;
                margin: 0 auto;
            video{
                 max-width: 600px;
                 margin: 0 auto;
                 width: 100%;
            }
        }
        .edm-img{
           // max-width: 550px;
            height: auto;
            width: 100%;
        }
    }
    @media screen and (max-width: $screen-md-max){
        &__title{
            padding: 100px 15px;
        }
        &__body{
            padding: 100px 15px;
        }
    }
    @media screen and (max-width: $screen-sm-max){
        &__title{
            padding: 50px 15px;
        }
        &__body{
            padding: 50px 15px;
            .edm-img{
                &:nth-child(1) {
                  margin-bottom: 30px;
                }
            }
        }
    }
}