.landing{
	.wrapper{
	position:relative;
	.down-arrow{
		text-align: center;
    	position: absolute;
		bottom: 70px;
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		a{
			text-decoration: none;
			color: $white;
				.fas{
					font-size: 45px;
					color: rgba(255,255,255,0.5);
					background: transparent;
					transition: all 0.5s;
		            -webkit-transition: all 0.5s;
		            margin-top: 10px;
				}
				&:hover{
					.fas{
						color: $white;
					}
				}
				@media screen and (max-width: $screen-sm-max){
					.fas{
						font-size: 40px;
					}
					font-size: 12px !important;
				}
		    }
		}
    }

    &__wrap{
    	&--slider{
    		height: 100vh;
    		width: 100%;
		    text-align: center;
		    display: -webkit-flex;
		    display: -ms-flexbox;
		    display: flex;
		    -webkit-flex-flow: column;
		    -ms-flex-flow: column;
		    flex-flow: column;
		    -webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		    justify-content: space-between;
		    position: relative;
		    overflow:hidden;
		    min-height: 780px;
		    .banner-img{
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%,-50%);
				z-index: 2;
				/*img{
					width: 100%;
					max-width: 650px;
					margin: 0 auto;
				}*/
				h1{
					font-size: 50px;
					color: $white;
					margin-bottom: 30px;
				}
				p{
					color: $white;
				}
				@media screen and (max-width: $screen-sm-max){
			           h1{
			           			font-size: 35px;
			           }
			    }
		    }
		    .overlay-wrap{
		    	position: absolute;
				width: 100%;
				height: 100%;
				background-color: rgba(0,0,0,0.3);
				z-index: 1;
		    }
    	}
    }

    

    .landing-body{
    	&__intro{
    		text-align: center;
    		padding: 150px 15px 130px;

    		.intro-wrapper{
    			max-width: 390px;
				width: 100%;
				margin: 0 auto 50px;
    			.intro-copy{
	    			height: 220px;
	    			
	    			h2{
	    				font-weight: 900;
	    			}
	    		}
	    		.intro-link{
	    			a{
	    				padding: 10px 25px;
						background: $darkblue;
						color: $white;
						text-decoration: none;
						transition: all 0.5s;
            			-webkit-transition: all 0.5s;
						&:hover{
							background: $lightblue;
						}
	    			}
	    		}
    		}
    		@media screen and (max-width: $screen-lg-max){
		           padding: 100px 15px;
		           .intro-wrapper{
		           		.intro-copy{
			    			height: 300px;
			    			padding: 0px 0px 30px;
			    		}
		           }
		    }
    		@media screen and (max-width: $screen-md-max){
		           padding: 100px 15px;
		           .intro-wrapper{
		           		.intro-copy{
			    			height: auto;
			    			//padding: 0px 0px 30px;
			    		}
		           }
		    }
		    @media screen and (max-width: $screen-sm-max){
	           padding: 50px 15px 25px;
	           .intro-wrapper{
	           		.intro-copy{
		    			height: 180px;
		    		}
	           }
		    }
    	}
    }
    .landing-video{
		text-align: center;
		padding: 150px 15px 150px;
		background-color:rgba(0,0,0,0.1);
		&__wrap{
			.video-title{
				max-width: 700px;
				width: 100%;
				margin: 0 auto 50px;
				h3{
					margin-bottom: 25px;
					font-weight: 800;
				}
			}
			video{
				width: 100%;
				max-width: 700px;
			}

		}
		@media screen and (max-width: $screen-md-max){
	           padding: 100px 15px;
	    }
	    @media screen and (max-width: $screen-md-max){
	           padding: 50px 15px;
	    }
	}
}