.mediatest{
	&__landing{
		 text-align: center;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-flex-flow: column;
        -ms-flex-flow: column;
        flex-flow: column;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        position: relative;
        overflow:hidden;
         width: 100%;
         height: 450px;
         background-position: center center;
         background-size: cover;
         @media screen and (max-width: $screen-md-max){
             height: 190px;
        }
	}
	&__top{
		text-align: center;
        max-width: 1200px;
        margin: 0 auto;
        width: 100%;
        padding: 150px 15px;
        display:none; // Temporarily Removed this section

        h1{
            margin-bottom: 30px;
        }
        @media screen and (max-width: $screen-md-max){
            padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
             padding: 50px 15px;
        }
	}

	&__body{
		background-color:rgba(0,0,0,0.1);
        padding: 150px 15px;
        @media screen and (max-width: $screen-md-max){
            padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
             padding: 50px 15px;
        }

        &--left{
        	padding: 30px;
        	background-color:$white;
        	margin-bottom: 30px;
        	.left-mediatest{
        		img{
        			object-fit: cover;
				  width: 100%;
				  max-height: 100%;
        		}
                 @media screen and (max-width: $screen-md-max){
                    margin-bottom: 20px;
                }
        	}
        	.right-copy{
        		padding: 0px 15px 0px;
        		p{
        			margin-bottom: 20px;
        		}
        		a{
    				padding: 10px 25px;
					background: $darkblue;
					color: $white;
					text-decoration: none;
					transition: all 0.5s;
        			-webkit-transition: all 0.5s;
					&:hover{
						background: $lightblue;
					}
    			}
        	}
        }
		&--right{
			.mediatest-video{
				 max-width: 340px;
                width: 100%;
                margin: 0 auto;
                 video{
	                 max-width: 3400px;
	                 margin: 0 auto;
	                 width: 100%;
	            }
			}
			.mediatest-facebook{
				margin-top: 30px;
                text-align: center;
                iframe{
                    width: 100%;
                    height:500px;
                    max-width: 340px;
                    margin: 0 auto;
                }
			}
		}
	}

    &__media_body{
        //padding: 0px 15px 50px;
         .main-title{
            margin-bottom: 50px;
            text-align:center;

        }
        .video-wrap{
        overflow: hidden;
          padding-top: 56.25%;
          position: relative;
          @media screen and (max-width: $screen-md-max){
                margin-bottom: 30px;
            }
            iframe{
                border: 0;
               height: 100%;
               left: 0;
               position: absolute;
               top: 0;
               width: 100%;
            }
        }
    }
}

.modal{
    .modal-dialog{
        max-width: 1200px !important;
        

        .modal-content{
            border-radius:0px !important;
            background-color:transparent;
            border:0;
            .modal-header{
                //border:0;
                  
            }
            .modal-body{
                .close{
                    position:absolute;
                    border: 0;
                    background: transparent;
                    top: -45px;
                    right: 1px;
                    z-index: 999;
                    span{
                        font-size: 50px;
                        color: $white;
                    }
                  }
                @media screen and (max-width: $screen-md-max){
                    padding:0px !important;
                }

            }
        }
    }
}
