.partners{
	&__landing{
        position: relative;
        overflow:hidden;
         width: 100%;
         height: 450px;
         background-position: center center;
         background-size: cover;
        @media screen and (max-width: $screen-md-max){
             height: 190px;
        }
	}
	&__story{
		text-align: center;
		max-width: 1200px;
		margin: 0 auto;
		width: 100%;
		padding: 150px 15px;
		h1{
            margin-bottom: 30px;
        }
        @media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
           padding: 50px 15px;
        }
	}
	
	&__body{
		background-color:rgba(0,0,0,0.1);
        padding: 150px 15px;
        .partners-logos{
            margin-bottom: 30px;
            .partner-logo{
                 margin-bottom: 30px;
            }
        }
        

        @media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
           padding: 50px 15px;
            .partners-logos{
                .partner-logo{
                    margin-bottom: 25px;
                    @media screen and (max-width: $screen-sm-max){
                       a{
                            img{
                                    width: 100%;
                            }
                        }
                    }
                }
            }
        }
	}
}



