.storelocator{
	&__landing{
		 text-align: center;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-flow: column;
            -ms-flex-flow: column;
            flex-flow: column;
            -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
            justify-content: space-between;
            position: relative;
            overflow:hidden;
             width: 100%;
             height: 450px;
             background-position: center;
             background-size: cover;
             @media screen and (max-width: $screen-md-max){
             height: 190px;
        }

	}
	&__title{
		max-width: 850px;
		width: 100%;
		margin: 0 auto;
		padding: 150px 20px;
		text-align: center;
		h1{
			margin-bottom: 30px;
		}
		@media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
           padding: 50px 15px;
        }
	}
	&__locator{
		    background-color: rgba(0,0,0,.1);
    		padding: 150px 15px;

		a{
			color: $lightblue !important;
		}
		input[type="submit"]{
				width: 200px !important;
				border-radius: 0 !important;
				color: #fff !important;
				background-color: #1B1936 !important;
				border-color: #1B1936 !important;
				transition: all .5s;
				-webkit-transition: all .5s;
				background-image: none !important;
				&:hover{
					background-color: #2c4588 !important;
					border-color: #2c4588 !important;
				}
		}
		.wpsl-search {
		    background-color: rgba(0,0,0,.1) !important;
		}
		@media screen and (max-width: $screen-md-max){
             padding: 100px 15px;
        }
        @media screen and (max-width: $screen-sm-max){
           padding: 50px 15px 10px;
        }
	}
}