/** Common sass **/

html,body{
	margin:0px;
	padding:0px;
	height:100%;
	width:100%;
	@include font-smoothing(on);
}

.wrapper {
	// overflow-x:hidden;
}

/*.wrapper {
	display:flex;
	flex-direction:column;
	justify-content:flex-start;
	align-items:stretch;
	height:100%;
	overflow-x:hidden;

	.site-content {
		flex:1;
	}
}*/

// Create grow and shrink flex column classes for each breakpoint
@each $breakpoint, $value in $grid-breakpoints {

	.col-#{$breakpoint}-grow {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 1;
			flex-shrink: 0;
			flex-basis: initial;
			width: auto;
		}
	}

	.col-#{$breakpoint}-shrink {
		@include media-breakpoint-up(#{$breakpoint}) {
			flex-grow: 0;
			flex-shrink: 1;
			flex-basis: auto;
			width: auto;
		}
	}
}

/* ==== slider SASS ======= */

.slick-slider{
    .slick-prev{
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        left: 50px;
        .fas{
            font-size: 30px;
            //color: $white;
            cursor: pointer;
            color: rgba(255,255,255,0.5);
            transition: all 0.5s;
                -webkit-transition: all 0.5s;
        }
        &:hover{
            .fas{
                color: $white;
            }
        }
    }
    .slick-next{
        position: absolute;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
        right: 50px;
        .fas{
            font-size: 30px;
            //color: $white;
            cursor: pointer;
            color: rgba(255,255,255,0.5);
            transition: all 0.5s;
                -webkit-transition: all 0.5s;
        }
        &:hover{
            .fas{
                color: $white;
            }
        }
    }
    @media screen and (max-width: $screen-sm-max){
	 	.slick-prev{
	 		left: 20px;
	 		.fas{
	 			 font-size: 25px;
	 		}
	 	}
	 	.slick-next{
	 		right: 20px;
	 		.fas{
	 			 font-size: 25px;
	 		}
	 	}
	}
}

/* ==== End slider SASS ======= */

.clearfix:after {
	content:'';
	display:table;
	clear:both;
}

:hover,
:focus,
:active {
	outline: none !important;
}

input,
textarea,
select,
label{
	font-family:inherit;
}

a,
button,
input {
	outline: none;
}

img{
	max-width:100%;
	height:auto;
}

table {
	width:100%;

	td,
	th {
		vertical-align:top;
	}
}

hr {
	margin: $grid-gutter-width/2 auto;
	border:none;
	text-align:center;

	&:after {
		content:'';
		display:block;
		height:1px;
		background:black; // TODO
	}
}

h1,
.h1 {
	font-family: $fontraleway;
	font-weight: 900;
	@media screen and (max-width: $screen-md-max){
		font-size: 2rem;
	}
	@media screen and (max-width: $screen-sm-max){
		//font-size: 1.5rem;
	}
}

h2,
.h2 {
	font-family: $fontraleway;
	@media screen and (max-width: $screen-md-max){
		font-size: 1.7rem;
	}
}

h3,
.h3 {
	font-family: $fontraleway;
	@media screen and (max-width: $screen-md-max){
		font-size: 1.7rem;
	}
	@media screen and (max-width: $screen-sm-max){
		font-size: 1.5rem;
	}
}

h4,
.h4 {
	font-family: $fontraleway;
}

h5,
.h5 {
	font-family: $fontraleway;
}

h6,
.h6 {
	font-family: $fontraleway;
}

p {
	margin:0px;
	font-family: $fontraleway;
	@media screen and (max-width: $screen-sm-max){
	 font-size: 14px;
	}
}

ul,
ol {
	margin-bottom:20px;
	padding:0px 0px 0px $grid-gutter-width/2;
	font-family: $fontraleway;

	li {
		margin:0px;
		padding:0px 0px 0px $grid-gutter-width/3;
		font-family: $fontraleway;
	}
}

a {
	img,
	div,
	*:after,
	*:before {
		text-decoration:none;
	}
	font-family: $fontraleway;
}

img.alignleft {
	float:left;
}
img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
img.alignright {
	float:right;
}
@media screen and (max-width:$screen-xs-max) {
	img.alignleft,
	img.aligncenter,
	img.alignright {
		display:block;
		float:none !important;
		margin-left:auto !important;
		margin-right:auto !important;
	}
}

.valign {
	display:block;
	vertical-align:middle;
	white-space:nowrap;

	> * {
		display:inline-block;
		vertical-align:middle;
		white-space:normal;
	}

	&:after {
		content:'';
		display:inline-block;
		height:100%;
		vertical-align:middle;
		pointer-events:none;
	}
}

.flex-valign {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
}

.flex-stretch {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:stretch;
}

.align-left {
	text-align:left;
}
.align-right {
	text-align:right;
}

.no-click {
	pointer-events:none;
}

.hidden-desktop {
	@include media-breakpoint-up(md) {
		display:none !important;
	}
}

.hidden-mobile {
	@include media-breakpoint-down(sm) {
		display:none !important;
	}
}

[data-toggle='collapse'] {
	&.collapsed .collapsed__hidden,
	&:not(.collapsed) .collapsed__visible {
		display:none;
	}
}

[data-toggle='class'] {
	&.classed .classed__hidden,
	&:not(.classed) .classed__visible {
		display:none;
	}
}