.site-footer {
	padding: 80px 15px;
	background-color:$darkblue;
	@media screen and (max-width: $screen-md-max){
       padding: 40px 15px;
    }
    
	&__wrapper{
		.logo{
			a{
				img{
					max-width: 180px;
				}
			}
		}
		ul{
		list-style: none;
			li{
				margin-top: 15px;
				a{
					color: $white;
					text-decoration: none;
				}
			}
			@media screen and (max-width: $screen-md-max){
		       padding: 0;

		       li{
		       	 padding: 0;
		       	 margin-top: 10px;
		       }
		    }
		    @media screen and (max-width: $screen-sm-max){
		       li{
		       	 margin-top: 5px;
		       }
		    }
		}
		.addres-info{
			margin-top: 15px;
			a{
				color: $white;
				text-decoration: none;
			}
		}
		.addres-phone{
			margin-top: 12px;
			a{
				color: $white;
				text-decoration: none;
			}
		}
		.addres-email{
			margin-top: 12px;
			a{
				color: $white;
				text-decoration: none;
			}
		}
		.addres-social{
			margin-top: 12px;
			a{
				.fab{
					color: $white;
					font-size: 25px;
				}
				&.youtube{
					margin-right: 10px;
				}
			}
		}
	}
}