.site-header {
	position: absolute;
	width: 100%;
	z-index: 3;
	background: rgba(27,25,54,0.2);
	color: #fff;
	.menu-wrapper{
		&__top{
			padding: 10px 0px;
			display: flex;
			flex-wrap: nowrap;
			width: 100%;
			&--logo{
				width: 20%;
				max-width: 100%;
				a{
					img{
						max-width:150px;
						//width: 100%;
					}
				}

			}
			&--contact{
				width: 80%;
				max-width: 100%;
				text-align: right;
				color: #fff;
				margin-top: 55px;
				a{
					color: #fff;
					text-decoration: none;
					font-weight: 800;
				}
			}
		}
		 @media screen and (max-width: $screen-md-max){
		 	#mysticky-wrap{
		 			margin: 0px -20px 0px !important;
		 	}
		}
	}
}

//UberMenu custom Style

.ubermenu-skin-grey-white {
    border: none;
    background: #1B1936 !important;
}



// SPECIAL CASE FOR WHEN WP ADMIN BAR IS VISIBLE AND HEADER IS FIXED
/*body.admin-bar {
	header {
		top:32px;

		@media screen and (max-width:782px) {
			top:46px;
		}

		@media screen and (max-width:$screen-xs-max) {
			top:0px;
		}
	}
}*/